@media only screen and (max-width: 868px) {
    /* section-no-one */
    section.section-tow {
        width: 1700px;
        margin: auto;
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./Images/Group\ 13\ \(1\)\ \(1\).png);
        background-image: linear-gradient();
        background-repeat: no-repeat;
        margin-bottom: 50px;
        background-size: cover;
        object-fit: cover;
        border-radius: 11px;
        margin-top: 50px;
        max-width: 95%;
        object-fit: cover;
    }
    .explor-text h5 {
        font-size: 22px;
    
    }
    .explor-text p {
        font-size: 14px;
        width: 304px;
    }
    .explor-input-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
    .explor-input {
        width: 317px;
    }
    .explor {
        margin-top: 35px;
    }
    
    input[type="text"] {
        height: 57px;
        width: 280px;
        margin-bottom: 9px;
        margin-left: 8px;
    }
    select {
        height: 57px;
        width: 290px;
        margin-bottom: 10px;
    }
    button.btest {
        height: 57px;
        width: 290px;
        margin-left: 10px;
    }
  .section-tow {
    background-position: center;
}
    /* section-no-thre-our-popular-ture */
.our-popular-ture {
      display: flex;
      gap: 50px;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      
    }

.our-popular-img img{    width:550px;
    }
    .our-popular-text p{
        font-size: 16px;
        margin: 0px;
        overflow-y: hidden;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .our-popular-text ul li{
        font-size: 16px;
        margin: 0px;
        margin-bottom: 20px;
        margin-left: 10px;
        
    }
    .our-popular-text h5{
        font-size: 20px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
    .fast-btn {
        margin-left: 10px;
        margin-top: 20px;
    }

  }
