@media only screen and (max-width: 868px) {
    /* section-no-one */
    section.section-tow {
        object-fit: cover;
        max-width: 95%;
        object-fit: cover;
    }
    .explor-text h5 {
        font-size: 22px;
    
    }
    .explor-text p {
        font-size: 14px;
        width: 304px;
    }
    .explor-input-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
    .explor-input {
        width: 317px;
    }
    .explor {
        margin-top: 35px;
    }
    
    input[type="text"] {
        height: 57px;
        width: 280px;
        margin-bottom: 9px;
        margin-left: 8px;
    }
    select {
        height: 57px;
        width: 290px;
        margin-bottom: 10px;
    }
    button.btest {
        height: 57px;
        width: 290px;
        margin-left: 10px;
    }
  .section-tow {
    background-position: center;
}
section.section-tow {

    background-position: center;
}
    /* section-no-thre-our-popular-ture */
.our-popular-ture {
      display: flex;
      gap: 50px;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      
    }

.our-popular-img img{    width:550px;
    }
    
    .our-popular-text p {
        
        width: 405px;
    }
    .our-popular-text  li{
        font-size: 16px;
        margin: 0px;
        margin-bottom: 20px;
        margin-left: 10px;
        width: 402px;
    }
    .our-popular-text h5{
        font-size: 20px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
    .fast-btn {
        margin-left: 10px;
        margin-top: 20px;
    }
    /* section-no-thre-destination */
    .destinition-inge-tow ,.destinition-inge-last-tow, .destinition-inge-thre{
        flex-direction: column;
     
    }
    .dastination-fast-img , .dastination-secend-img {
       width: 100%;
       background-position: center;
       background-size: cover;
    }
    .dastination-thard-img {
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .dastination-four-img {
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .dastination-five-img{
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .dastination-six-img{
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .dastination-seven-img{
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .destination-heding-text h5 {
        font-size: 20px;
    }
    .destination-heding-text p {
        font-size: 14px;
        width: 309px;
    }
     /* .section-fuor-chose */
    .chose-card-one h4 {
        font-size: 20px;
    }
    .chose-card {
        flex-direction: column;
    }
    .chose-card-one p {
        font-size: 14px;
        width: 450px;
    }

    /* section-5-five-deals-discount */
    .discount-text p {
        width: 252px;
        font-size: 14px;
    }
    discount-icon li {
        font-size: 8px;
    }
    .discoun-bg {
        width: 82%;
    }
    button.seall {
        left: 149px;
        border-radius: 5px;
    }
      /* secyion-six-parfect-place */
    .parfect-place {
        flex-direction: column;
    }
    video {
      
        margin-left: 87px;
    }
    .parfect-place-text h3 {
        font-size: 20px;
    }
    .parfect-place-text p {
        width: 421px;
        font-size: 14px;
    }
    .parfect-place-text li {
        width: 431px;
        font-size: 14px;
    }
     /* information-section-seven */
     .all-section-information-box {
        gap: 44px;
        flex-direction: column;
    }
    /* .nav-section */
    .nav-item {
        display: none;
    }
    .short{
        display: block;
        width: 40px;
      }
      .img-nav {
        display: flex;
        width: 300px;
    }
    .img-nav h3 {
        line-height: 58px;
        margin-left: 10px;
        font-size: 24px;
    }
    /* extra-section */
    .extra-section {
      
        display: flex;
        flex-direction: column;
      
    }
    .bangladesh{
        width:85%;
    }
    .bangladesh p {
        width: 90%;
    }
    .bangladesh {
        width: ;
        background: #bbb8b859;
        border-radius: 5px;
        text-align: center;
        padding: 20px 0px;
        box-shadow: 3px 4px 25px #000000c7;
        margin-bottom: 10px;
        text-align: center;
        align-items: center;
        margin-left: 41px;
    }
    .our-popular-text {
        max-width: 90%;
    }
    .extra-section {
        margin-bottom: 53px;
    }
    .copy-right {
        font-size: 13px;
    }
  }

@media (min-width:1400px) and (max-width:2100px) {
    button.seall {
        left: 749px;
      
    }
    .discount {
       
        width: 100%;
        justify-content: center;
    }
    .piscount {
       
        width: 1100px;
    }
}
@media (min-width:900px) and (max-width:1400px) {
    .discount {
        width: 100%;
    }
    .piscount {
        width: 100%;
    }
}
 
  

