@media only screen and (max-width: 868px) {
    /* section-no-one */
    section.section-tow {
        object-fit: cover;
        max-width: 95%;
        object-fit: cover;
    }
    .explor-text h5 {
        font-size: 22px;
    
    }
    .explor-text p {
        font-size: 14px;
        width: 304px;
    }
    .explor-input-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
    .explor-input {
        width: 317px;
    }
    .explor {
        margin-top: 35px;
    }
    
    input[type="text"] {
        height: 57px;
        width: 280px;
        margin-bottom: 9px;
        margin-left: 8px;
    }
    select {
        height: 57px;
        width: 290px;
        margin-bottom: 10px;
    }
    button.btest {
        height: 57px;
        width: 290px;
        margin-left: 10px;
    }
  .section-tow {
    background-position: center;
}
    /* section-no-thre-our-popular-ture */
.our-popular-ture {
      display: flex;
      gap: 50px;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      
    }

.our-popular-img img{    width:550px;
    }
    .our-popular-text p{
        font-size: 16px;
        margin: 0px;
        overflow-y: hidden;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .our-popular-text ul li{
        font-size: 16px;
        margin: 0px;
        margin-bottom: 20px;
        margin-left: 10px;
        
    }
    .our-popular-text h5{
        font-size: 20px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
    .fast-btn {
        margin-left: 10px;
        margin-top: 20px;
    }
    /* section-no-thre-destination */
    .destinition-inge-tow ,.destinition-inge-last-tow, .destinition-inge-thre{
        flex-direction: column;
     
    }
    .dastination-fast-img , .dastination-secend-img {
       width: 100%;
       background-position: center;
       background-size: cover;
    }
    .dastination-thard-img {
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .dastination-four-img {
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .dastination-five-img{
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .dastination-six-img{
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .dastination-seven-img{
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .destination-heding-text h5 {
        font-size: 20px;
    }
    .destination-heding-text p {
        font-size: 14px;
        width: 309px;
    }
  }
  

